In [6]:
def test1(n, m ):
    return m+n

In [42]:
k= test3(2,7)

In [43]:
k

9

In [44]:
type(k)

int

In [47]:
def test2(t,n,m):   # there are two return function
    return t+n
    return n+m

In [49]:
test2(1,2,3)   # the 1st return function only return the values

3

In [50]:
def test3(n,m=90):#the argument has default value m=90 if no value passed
    return n*m

In [52]:
test3(10)  # only passed one argument but function 
           # take 2nd agument as default

900

In [53]:
def test4(n):
    return n*2

In [54]:
test4([1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [55]:
def test5(n, m ):
    return n*10 , m*40 ,m+n

c,x,v = test5(2,7)

In [57]:
c,x,v

(20, 280, 9)

In [59]:
def test6(*args ):   # args take any number of argument
    return args 

test6("adarsh" , "kumar ", 34,[34,4,4,5,454,54])

('adarsh', 'kumar ', 34, [34, 4, 4, 5, 454, 54])

In [61]:
def test7(*args):  # add all the list using args 
    l = []
    for i in args:
        l = l + i
    return l 
        
    
test7([3,4,5,6] , [3,4,5,6,7] , [3,4,5,6])

[3, 4, 5, 6, 3, 4, 5, 6, 7, 3, 4, 5, 6]

In [63]:
def test8(**kwargs):
    return kwargs

test8(a = 8 , b = True , c = [4,5,6,6,"kumar"] , d = "adarsh")

{'a': 8, 'b': True, 'c': [4, 5, 6, 6, 'kumar'], 'd': 'adarsh'}

In [65]:
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list ]
    d=[i[1] for i in kwargs.items() if type(i[1]) == list ]
    return l,d


fun2([4,5,6,7,8] , [5,6,7,8,9,0] , 5,5,6,7, a = 5 , b = "fsdfds" , m = [4,5,6,7])

([[4, 5, 6, 7, 8], [5, 6, 7, 8, 9, 0]], [[4, 5, 6, 7]])

In [66]:
# function lecture-2

In [68]:
def test9(**kwargs):
    print("this is my kwargs elememnt ",kwargs.items())
    
test9(x = "adarsh" , y = 56 , z = [3,4,5,6])

this is my kwargs elememnt  dict_items([('x', 'adarsh'), ('y', 56), ('z', [3, 4, 5, 6])])

In [ ]:
def t66(*a,**b):
    return a,b

c,d=t66({1:"a",2:"b"},1,2,3,4,a=8)

In [10]:
def test9(n):
    return n,n*2

In [11]:
b = test9([4,5,6,6,7])

In [12]:
b

([4, 5, 6, 6, 7], [4, 5, 6, 6, 7, 4, 5, 6, 6, 7])

In [13]:
type(b)

tuple

In [17]:
def test11(b,*r ):
    return b,r 

a,c=test11(4,3,4,5,[1,2,3])

In [69]:
def t66(*a,**b):
    return a,b

c,d=t66({1:"a",2:"b"},1,2,3,4,a=8)

In [70]:
c,d

(({1: 'a', 2: 'b'}, 1, 2, 3, 4), {'a': 8})

In [71]:
m = lambda x,y : x+y  # ananymous function without name of function

In [72]:
m(20,20)

40

In [75]:
def test10(a , b ):
    """
    test10()
    a = this is going to do this 
    b = is going to do that 
    this is my test function with the 
    help of this function you will be able to learn a basic of fun 
    
    
    """
    
    print("my name is xyz")

In [77]:
test10(2,3)

my name is xyz

In [78]:
for i in "sudh":
    print(i)

s
u
d
h

In [79]:
s = "sudh"
next(s)    # string is iterable not iterator

TypeError: 'str' object is not an iterator

In [80]:
s= iter(s)  # make the iterable object iterator
next(s)

's'

In [81]:
next(s)

'u'

In [82]:
def test4(n):          # if we use a lage value it return after calculation
    l = []
    for i in range(n) :
        l.append(i**3)
        
    return l

In [83]:
def test5(n):
    for i in range(n):
        yield  i**3      # yield help to give onspot output

In [84]:
test5(30)