In [6]:
l=["adarsh",12,27.6,27+7j,True]
l1=[]
l2=list()

In [7]:
l.append([1,2,3,4])

In [8]:
l

['adarsh', 12, 27.6, (27+7j), True, [1, 2, 3, 4]]

In [10]:
l1=list(range(10))

In [11]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>

In [23]:
l.insert(0,'adarsh')

In [27]:
l.remove('adarsh')

In [28]:
l

['adarsh', 12, 'adarsh', 'adarsh', 27.6, (27+7j), True, [1, 2, 3, 4], 'adarsh']

In [29]:
l.remove('adarsh')
l.remove('adarsh')

In [30]:
l

[12, 'adarsh', 27.6, (27+7j), True, [1, 2, 3, 4], 'adarsh']

In [31]:
l3=l1+l

In [32]:
l3

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 'adarsh',
 27.6,
 (27+7j),
 True,
 [1, 2, 3, 4],
 'adarsh']

In [33]:
l.reverse()

In [34]:
l

['adarsh', [1, 2, 3, 4], True, (27+7j), 27.6, 'adarsh', 12]

In [37]:
# comprasion operation

In [38]:
[i for i in 'adarsh']

['a', 'd', 'a', 'r', 's', 'h']

In [39]:
l.extend('test')

In [40]:
l

['adarsh', [1, 2, 3, 4], True, (27+7j), 27.6, 'adarsh', 12, 't', 'e', 's', 't']

In [41]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [44]:
["odd" if i%5!=0 else "even" if i%5==0 else "neutral" for i in range(0,20)]

['even',
 'odd',
 'odd',
 'odd',
 'odd',
 'even',
 'odd',
 'odd',
 'odd',
 'odd',
 'even',
 'odd',
 'odd',
 'odd',
 'odd',
 'even',
 'odd',
 'odd',
 'odd',
 'odd']