In [12]:
#this is my first prog
print('this is my first python program')

this is my first python program

In [ ]:
# comment
"""FAFASFSAFSAFASFASFASFSDFASF
ASDFASF
ASDFASDF
"""

78

In [ ]:
afsdf = 10

In [ ]:
afsdf

10

In [ ]:
type(a)

int

In [ ]:
b = '34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [ ]:
b

'34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df'

In [ ]:
type(b)

str

In [ ]:
print(b , a ,"Fsdfsfsd")

34554sudh 45345fgf sgsd sdfg sh sghf h dhdfh df 10 Fsdfsfsd

In [ ]:
a = 45
b = "sudh "

In [ ]:
a, b  , s = 45 , "sudh" , "this is my name "

In [ ]:
a

45

In [ ]:
b

'sudh'

In [ ]:
s

'this is my name '

In [ ]:
type(b)

str

In [ ]:
type(s)

str

In [ ]:
type(a)

int

In [ ]:
print(a,b,s)

45 sudh this is my name

In [ ]:
b  = '"fsdf"'

In [ ]:
b

'"fsdf"'

In [ ]:
b = "fsfsd"

In [ ]:
B = "fsdf"

In [ ]:
B

'fsdf'

In [ ]:
b = "fsfsd"

In [1]:
b = "sdfs"

In [ ]:
_b = 234534

In [ ]:
_b

234534

In [ ]:
name = "sudh"
userid = "IN001"
password = "fsfsfsd"
mail = "sudhans@ienru.ai"

In [ ]:
a = 1.6423424242243434234234

In [ ]:
type(a )

float

In [ ]:
b = True 
c = False

In [ ]:
type(b)

bool

In [ ]:
type(c)

bool

In [ ]:
print(True + True + True + False + True  )
print(False - True+ True )

4
0

In [ ]:
True + True -False

2

In [ ]:
True / False

ZeroDivisionError: division by zero

In [ ]:
n  = 45 + 6j
m = 56 + 8j

In [ ]:
type(m)

complex

In [ ]:
n* m

(2472+696j)

In [ ]:
n.real

45.0

In [ ]:
n.imag

6.0

In [ ]:
b = "sdf"
type(b)

str

In [ ]:
"1"+ "sudh"

'1sudh'

In [ ]:
1+ 1.0

2.0

In [ ]:
"sudh" + "sudh" + "sudh"

'sudhsudhsudh'

In [ ]:
"sudh" * 3

'sudhsudhsudh'

In [ ]:
int('23')

23

In [ ]:
int("2354dfsdfs")

ValueError: invalid literal for int() with base 10: '2354dfsdfs'

In [ ]:
a = 10

In [ ]:
a = input("enter a interger ")

enter a interger 242344232

In [ ]:
type(a)

str

In [ ]:
a = int(input("this is my var a "))
b = int(input("this is my var b "))
c = int(input("this is my var c "))
o = a+b/c
o1 = o + 78 + 6j
str(o1) + "sudh"

this is my var a 45
this is my var b 454
this is my var c 454

'(124+6j)sudh'

In [ ]:
o = a+b/c
o1 = o + 78 + 6j

In [ ]:
o1

(124.64705882352942+6j)

In [ ]:
str(o1) + "sudh"

'(124.64705882352942+6j)sudh'

In [ ]:
a = int(input("input a number lesser then 34 -- "))

input a number lesser then 34 -- 56

In [ ]:
if a <34 :
    pass

In [ ]:
a = int(input("input a number"))
if a <34:
    print("data input is lesser then 34 and i am fine with it ")
elif a < 100:
    print(" my data is lesser then 100")
    
else:
    print ( "user input is not lesser then 34")

input a number78
 my data is lesser then 100

In [ ]:
name = "sudh"
test = "dfsfsf"

In [ ]:
def test(name = str  , test = int):
    name = "fsfds"
    test= "fsdfs"
    print(name, test)

In [ ]:
test()

fsfds fsdfs

In [14]:
def test1(name , id1):
    
    print(test(),name , id1)

In [198]:
test1("Sds","ds")

dasas Sds ds

In [196]:
def test():
        return "dasas"