In [44]:
# TUPLES
t1=(1,2,3,4,5)
t2 = (234,54,565)
t = ((3,4,5,6,7) , ("sdfsd",45,45) , ("454",54) , 45,454,67 , [4,5,6,7,7])

In [45]:
t1.append(45)   # tuples cannot be altered

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
t1[2]   # access particular element from tuple

3

In [47]:
t1[::-1]    # reverse the tuple only show no internal change

(5, 4, 3, 2, 1)

In [48]:
list1=list(t1)    # convert tuple in list to do operations
list1.append(24)   # adding new element
list1.remove(2)   # removing exesting element

In [49]:
print(list1)      # print the list after modification
tuple(list1)      # print the tuple after converting it

[1, 3, 4, 5, 24]

(1, 3, 4, 5, 24)

In [50]:
t1+t2   # we can add the two tuples and store it in another new tuple

(1, 2, 3, 4, 5, 234, 54, 565)

In [59]:
print(t[1][1])
print(t[6][1:])

45
[5, 6, 7, 7]

In [60]:
for i in t :
    print(i)

(3, 4, 5, 6, 7)
('sdfsd', 45, 45)
('454', 54)
45
454
67
[4, 5, 6, 7, 7]

In [61]:
del(t)

In [ ]:
# SET

In [69]:
l=[1,1,1,2,3,55,5,2,3]
x=set(l)

In [70]:
x

{1, 2, 3, 5, 55}

In [76]:
x.add(7)      # add th element
x.remove(2)   # the value is removed
x.add([1,2])   # list cannot be added

TypeError: unhashable type: 'list'

In [77]:
x.clear()

In [78]:
x

set()

In [ ]:
# DICTIONARY

In [79]:
x3={}

In [80]:
x3[1]="adarsh"    # adding element in dictionary

In [53]:
x3[2]="ada"
x3[3]="abh"

In [81]:
x1={True:"adarsh", 345:345}  # key and vaue can be any datatype

In [82]:
x2={"list":[34,35],"tuple":(36,37),"dict":{"name":"adarsh","age":20,"gender":"M"}}

In [83]:
x2     # adding list,tuple,dict in x2

{'list': [34, 35],
 'tuple': (36, 37),
 'dict': {'name': 'adarsh', 'age': 20, 'gender': 'M'}}

In [85]:
x2["dict"]["age"]  # calling element with key name

20

In [87]:
x2["list"][0]=-10   # changing or modifing the element in dict

In [88]:
x2

{'list': [-10, 35],
 'tuple': (36, 37),
 'dict': {'name': 'adarsh', 'age': 20, 'gender': 'M'}}

In [89]:
x2.keys()

dict_keys(['list', 'tuple', 'dict'])

In [90]:
x2.values()

dict_values([[-10, 35], (36, 37), {'name': 'adarsh', 'age': 20, 'gender': 'M'}])

In [91]:
x2.items()

dict_items([('list', [-10, 35]), ('tuple', (36, 37)), ('dict', {'name': 'adarsh', 'age': 20, 'gender': 'M'})])

In [25]:
for i in x3.items():
    print(i)

(1, 'adarsh')
(2, 'ada')
(3, 'abh')

In [27]:
x3.values()

dict_values(['adarsh', 'ada', 'abh'])

In [29]:
dict1=dict.fromkeys(x3,'db')

In [31]:
dict1

{1: 'db', 2: 'db', 3: 'db'}